---
import Layout from '@/layouts/Layout.astro';
import Ariadne from '@/components/Ariadne.astro';

const ariadne = [
    { name: "home", url: "/" },
    { name: "Il'suastet" }
]
---

<Layout tab="Il'suastet">
    <main class="container max-w-3xl px-8 mx-auto">

        <h1>Il'suastet</h1>
        <Ariadne links={ariadne}/>

        <p class="my-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ipsam numquam repellat suscipit consequatur ipsum atque recusandae aut culpa magni quam fuga nam, quia odit nostrum soluta repudiandae vitae eum?
        </p>

        <p>
            <ul class="list-disc">
                <li class="ml-4">
                    <a href="/il-suastet/syllabary">syllabary</a>
                </li>
            </ul>
        </p>

    </main>
</Layout>