---
import Layout from '@/layouts/Layout.astro';
import Ariadne from '@/components/Ariadne.astro';

const ariadne = [
    { name: "home", url: "/" },
    { name: "Basheste", url: "/basheste" },
    { name: "alphabet" }
]
---

<Layout tab="alphabet < Basheste">
    <main class="container max-w-3xl px-8 mx-auto">
        
        <h1>alphabet</h1>
        <Ariadne links={ariadne}/>

        <p class="text-omen">(section pending)</p>
        
    </main>
</Layout>