---
import Layout from '@/layouts/Layout.astro';
import Ariadne from '@/components/Ariadne.astro';
import Glyph from '@/components/Glyph.astro';

const ariadne = [
    {
        name: "home",
        url: "/"
    },
    {
        name: "Basheste",
        url: "/basheste"
    },
    {
        name: "alphabet"
    }
]

const alphabet = [
    {
        name: "baba",
        type: "vowel",
        src: "dummy1.svg"
    },
    {
        name: "keke",
        type: "consonant",
        src: "dummy2.svg"
    },
    {
        name: "jiji",
        type: "punctuation",
        src: "dummy3.svg"
    }
]
---

<Layout tab="alphabet (Basheste)">
    <main class="container max-w-3xl px-8 mx-auto">
        <h1 class="text-6xl font-bold mb-4">alphabet (Basheste)</h1>
        <Ariadne links={ariadne}/>

        <div class="max-w-4xl mt-8 grid grid-cols-6 gap-4">
            {alphabet.map(letter => (
                <div>
                    <div class="letter border-stone bg-paper border-2 center mx-auto aspect-square rounded-sm">
                        <a href="/" class="block h-full w-full">
                            <div class="flex h-full">
                                <Glyph src={letter.src} />
                            </div>
                        </a>
                    </div>
                </div>
            ))}
        </div>
        
    </main>
</Layout>

<style lang="scss">

    .letter {
        &:hover {
            background-color: var(--color-gem);
            border-color: var(--color-gem);
            color: var(--color-paper);
        }
    }

</style>