---
import Layout from '@/layouts/Layout.astro';
---

<Layout tab="alphabet (Basheste)">
    <main class="container max-w-3xl px-8 mx-auto">
        <h1 class="text-6xl font-bold mb-4 text-gem">Basheste alphabet</h1>
        
    </main>
</Layout>