---
import GlyphBlock from '@/components/GlyphBlock.astro'

export interface Props {
    items: any[]
    lang: string
    urlRoot?: string
}
const { items=[], lang, urlRoot } = Astro.props as Props

export interface Gridable {
    name: string
    img: string
    slug?: string
}
---

<div class="max-w-4xl my-8 grid grid-cols-6 gap-4">
    {(items as Gridable[]).map((item) => (
        <GlyphBlock
            name={item.name}
            img={item.img}
            lang={lang}
            url={(urlRoot&&item.slug)?urlRoot+item.slug:undefined}
        />
    ))}
</div>