---
import '@/assets/css/main.css'
import '@/assets/scss/global.scss'

interface Props {
	tab: string
}

const { title, tab } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
        <link rel="canonical" href={Astro.url} />

		<title>{tab}</title>
	</head>

	<body class="min-h-screen bg-paper text-ink grid grid-rows-[auto] items-center text-[110%] leading-relaxed">
		<slot />
	</body>
</html>
